@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,600;1,700&display=swap');



.availableRoom {
    display: flex;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

.availableRoomImgContainer {
    position: relative;
    color: white;
    margin-right: 10px;
    margin-left: 20px;
}

.availableRoomImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
}

.availableRoomName {
    color: whitesmoke;
}

.settingsImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white ;
}

.Settingsbutt{
    margin-left: 30px;
    background-color: none;
    background: none;
    border: none;
    
}
.settingsbut{
    background: none;
    background-color: none;
    border: none;
    width: 1.5em;
    height: 1.5em;
    color: #192125;
}
.Room .leaveroom {
    display: none;
    color: white;
    width: 1.5em;
    height: 1.5em;
    
}
.leavebutt{
    background: none;
    border: none;
	justify-content: flex-end;
	margin-left: 30px;
}
.Room:hover .leaveroom {
    display: inline;
    cursor: pointer;
}
