@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,600;1,700&display=swap');


.availableRoom {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
}

.availableRoomImgContainer {
    position: relative;
    margin-right: 10px;
}

.availableRoomImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white ;
}

.availableRoomName {
    color: whitesmoke;
}