.container {
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 10px;
    margin: auto;
    margin-top: 5%;
    width: 60%;
    height: 60%;
    background-color: #192125;
    /* Center vertically and horizontally */
    border-radius: 5px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    gap: 5%;
    color: white;
}

.child1 {
    position: relative;
    margin-left: 5%;
    margin-top: 3%
}

.child2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    gap: 5%;
}

.child2 img {
    border-radius: 10px;
    padding: 5px;
    width: 200px;
}

.child3 {
    display: flex;
    justify-content: center;
    font-weight: 500;

    gap: 2%;
    
}

.inputFieldRoomName {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: #192125;
    color: whitesmoke;
}

.child4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    gap: 3%;
}

.child4CheckBox {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.child5 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    gap: 2%;
}

.inputFieldPassword {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: #192125;
    color: whitesmoke;
}
.child1Title{
    font-size: x-large;
}
.child6 {
    display: flex;
    justify-content: center;
    font-weight: 500;
    gap: 1%;
}

.child6SelectMembers {

    border-radius: 5px;
    background-color: #293135;
    padding: 5px;
    width: 150px;
    height: 100px;
    font-weight: 500;
    overflow-y: scroll;
}
.child6SelectMembers::-webkit-scrollbar{    background-color: 192125;
    border-radius: 5px;
    width: 2px;
    height: 6px;
}

.membeR {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.membeR button {
    display: block;
    position: relative;
    margin-left: 30%;
}

.membeR button img {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.membeR:hover {
    background-color: grey;
}

.membeRImg {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid white ;
}

.membeRName {
    font-weight: 500;
    color: whitesmoke;
}


.child7 {
    display: flex;
    justify-content: center;
    gap: 1%;

}

.child7Cancel,.child7Save {

    border-radius: 5px;
    width: 15%;
    text-align: center;
}
.btn {
    display: block;
    position: relative;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
	width: 100%;
    background-color: #192125;
    color: white;
    font-weight: 700;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 10px;
    cursor: pointer;
}
.btn1 {
    display: block;
    position: relative;
    border-style: solid;
    border-color: white;
	width: 100%;
    border-radius: 5px;
    background-color: #192125;
    color: #192125;
    background-color: white;
    font-weight: 700;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: 10px;
    cursor: pointer;
}

.addremobutt{
    height: 1em;
    width: 1em;
    background-color: none;
    background: none;
    color: white;
}
.addremobutt1{
    background: none;
    border: none;
}
.roomicon{
    height: 4em;
    width: 4em;
    border: white;
}





