.RoomSettingss1{
    position: absolute;
    width :100%;
    height : 100%;
    margin :auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    
    z-index: 99;
}
.RoomSettingss{
    position: absolute;
    width :50%;
    height : 400px;
    margin :auto;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    z-index: 100;
}


.child6SelectMembers2 {

    position: absolute;
    border-radius: 5px;
    background-color: #293135;
    padding: 5px;
    width: 60%;
    height: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    overflow-y: scroll;
}
.child6SelectMembers2::-webkit-scrollbar{    background-color: 192125;
    border-radius: 5px;
    width: 2px;
    height: 6px;
}
.exit{
    position: absolute;
    background: none;
    left:90%;
    top:2em;
    border: none;
    cursor: pointer;
    
    
}
.membeR button {
    display: block;
    position: relative;
    margin-left: 5%;
    cursor: pointer;
}
.exiticon{
    color: white;
    height: 2em;
    width: 2em;
}
.settititle{
    position: absolute;
    color: white;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: large;
    width: 150px;
    top: 30px;
    left: calc(50% - 75px);
}

.setAdmin {
    height: 1em;
    width: 1em;
    background-color: none;
    background: none;
    color: rgb(111, 104, 104);
}