@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,600;1,700&display=swap');



.onlineFriend {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 700;
}


.onlineFriendImgContainer {
    position: relative;
    margin-right: 10px;
    margin-left: 10%;
}

.onlineFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineFriendDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: lawngreen;
    position: absolute;
    top: 0;
    right: 2px;
}

.onlineFriendName {
    position: relative;
    color: rgb(255, 255, 255);
}

.friends .settingsButton {
    display: none;
}

.friends:hover .settingsButton {
    display: inline;
    cursor: pointer;
}

.offlineFriendDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 2px;
}