.match{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 80%;
    height: 80%;
    left: 10%;
    background-color: rgba(25, 33, 37, 0.7);
    border-radius: 15px;
    text-align: center;
}
.card1{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 20%;
}
.card2{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 20%;
    left: 80%;
}
.livegame{
    position: relative;
    height: 20px;
    color: white;
    font-size: 15px;
    margin-top: 1%;
    font-style: italic;

}
.usernamehistory{

    position: absolute;
    left: 7%;
    top: 55%;
    font-size: xx-small;
    font-weight: 200;
}
.user11img{
    position: relative;
    height: 30px;
    width: 30px;
    border-color: white;
    border-style: solid;
}
.result{
    position: absolute;
    flex-direction: column;
    width: 20%;
    left:40%;
    text-align: center;
    align-items: center;
    font-size: xx-small;
    font-weight: 200;
    height: 100%;
}
.score1{
    position: absolute;
    font-size: xx-small;
    align-items: center;
    left: 50%;
    top: 45%;
}
.user21img{
    position: absolute;
    height: 100%;
    left: calc(100% - 30px);
    width: 30px;
    border-color: white;
    border-style: solid;

}
.matchhistory{
    height: 70%;
    overflow: hidden;
    overflow-y: auto;
}
.matchhistory{
    position: relative;
    flex-direction: column;
    top: 60%;
    height: 40%;
    width: 100%;
}
.matchhistory{
    position: relative;
    flex-direction: column;
    top: 60%;
    height: 50%;
    width: 100%;
}
.matchhistory::-webkit-scrollbar{
    display: none;
  }
.usernamehistory2{
    position: absolute;
    left: 82.5%;
    top: 55%;
    font-size: xx-small;
    font-weight: 200;
}
.user1img{
    position: relative;
    height: 100%;
    width: 5%;
}
.usernamehistory{

    position: absolute;
    left: 7%;
    top: 55%;
    font-size: xx-small;
    font-weight: 200;
}
@media (max-width: 700px)
{
    .match{
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 80%;
        left: 10%;
        background-color: rgba(25, 33, 37, 0.7);
        border-radius: 15px;
        text-align: center;
    }
}
