.full{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 60%;
    margin: auto;
}
.firstpart{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 45%;
    margin: 2%;
    border-radius: 10px;
}
.profi{
    flex-direction: column;
    font-family:'Montserrat Alternates', sans-serif;
    background-color: #F4F4F4;
    width: 30%;
    height: 100%;
    border: none;
    margin-right: 2%;
    border-radius: 10px ;
}
.stats{
    display: flex;
    background-color: #192125;
    font-family:'Montserrat Alternates', sans-serif;
    position: relative;
    flex-direction: row;
    width: 70%;
    height: 100%;
    border: none;
    border-radius:  10px;
}
.secondpart{
    background-color: #192125;
    width: 100%;
    height: 50%;
margin: 2%;
border: none;
border-radius: 10px;
}
.Profileimg{
    position: absolute;
    width: 90px;
    height: 90px;
    margin-top: 2%;
    left: calc(15% - 45px);
    border-color: #192125;
    border-width: 1%;
    border-radius: 50%;
    border:solid; 
}
.name{
    position: absolute;
    top:50%;
    width:30%;
    text-align: center;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: small;
    font-weight: 700;

}
.nickname{
    position: absolute;
    top:60%;
    width:30%;
    text-align: center;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: xx-small;
    font-weight: 400;

}
.rank{
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.rankhead{
    position: absolute;
    color: #fff;
    font-size: small;
    top: 7%;
    left: 7%;
}
.statsinfo{
    position: relative;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0;
}
.Stathead{
    position: absolute;
    color: #fff;
    font-size: small;
    top: 7%;
    left: 7%;
}
.sta1{
    position: absolute;
    left: 7%;
    height: 13%;
    width: 90%;
    top:25%;
    background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
}
.sta4{
    position: absolute;
    left: 7%;
    height: 13%;
    width:90%;
    top:76%;
    background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
}
.sta3{
    position: absolute;
    left: 7%;
    height: 13%;
    width: 90%;
    top:59%;
    background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
}
.sta2{
    position: absolute;
    left: 7%;
    height: 13%;
    width: 90%;
    top:42%;
    background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
}
.secondpart{
    position: relative;
    font-family:'Montserrat Alternates', sans-serif;

}
.level{
    position: absolute;
    top:85%;
    width:30%;
    text-align: center;
    font-family:'Montserrat Alternates', sans-serif;
    font-size: small;
    font-weight: 500;
}
.Matchhead{
    position: absolute;
    color: #fff;
    font-size: small;
    top: 7%;
    left: 4%;
}
.stahead{
    position: relative;
    font-size: x-small;
    font-weight: 700;
    left:5%;
    top:5%;
}
.stainfo{
    position: absolute;
    font-size: xx-small;
    font-weight: 500;
    left:5%;
    top :50%;
}
.matchhistory{
    position: relative;
    flex-direction: column;
    top: 60%;
    height: 50%;
    width: 100%;
}
.datahistoryitem{
    height: 15%;
    width: 80%;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.user1img{
    position: relative;
    height: 35px;
    width: 35px;
}
.usernamehistory{

    position: relative;
    left: 7%;
    top: 55%;
    font-size: xx-small;
    font-weight: 200;
}
.result{
    position: absolute;
    flex-direction: column;
    width: 20%;
    left:40%;
    text-align: center;
    align-items: center;
    font-size: xx-small;
    font-weight: 200;
    height: 100%;
}
.score{
    position: absolute;
    font-size: xx-small;
    align-items: center;
    left: 42%;
    top: 45%;
}
.user2img{
    position: absolute;
    height: 35px;
    width: 35px;
    left: calc(100% - 35px);
}
.usernamehistory2{

    position: absolute;
    left: 82.5%;
    top: 55%;
    font-size: xx-small;
    font-weight: 200;
}
.levelbar{
    position: relative;
    top: 75%;
    width: 50%;
    left: 25%;
    border-radius:10px;
    height: 3px;

}
.matchhistory1{
    position: relative;
    top: 18%;
    height: 70%;
    overflow: hidden;
    overflow-y: auto;
}
.matchhistory1::-webkit-scrollbar{
    display: none;
  }
.pop
{
    position: relative;
    left :0%;
}
.fixed_header tbody{
    display:block;
    overflow:auto;
    height:200px;
    width:100%;
  }
  .fixed_header thead tr{
    display:block;
  }
  .addbutton{
    position: relative;
    left : 80%;
    top: 5%;
    background: none;
    border: none;
    cursor: pointer;


  }


  @media (max-width: 700px) {
    .firstpart{
        flex-direction: column;
          justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 60%;
    }
    .stats{
        flex-direction: column;
        height: 60%;
        width: 100%;
        font-size: 20px;
    }
    .profi{
        position: relative;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60%;
        margin: 0px;
    margin-bottom: 9px;
    }
    .Profileimg{
        position: absolute;
        width: 60px;
        height: 60px;
        margin-top: 2%;
        left: calc(50% - 30px);
        top: 4%;
        border-color: #192125;
        border-width: 1%;
        border-radius: 50%;
        border:solid; 
    }
    .name{
        position: absolute;
        top:55%;
        width:30%;
        text-align: center;
        left: 35%;
        font-family:'Montserrat Alternates', sans-serif;
        font-size: x-small;
        font-weight: 700;
    
    }
    .nickname{
        position: absolute;
        top:65%;
        width:30%;
        text-align: center;
        left: 35%;
        font-family:'Montserrat Alternates', sans-serif;
        font-size: xxx-small;
        font-weight: 400;
    
    }
    .level{
        position: absolute;
        top:90%;
        width:30%;
        text-align: center;
        left: 35%;
        font-family:'Montserrat Alternates', sans-serif;
        font-size: x-small;
        font-weight: 500;
    }
    .stahead{
        position: absolute;
        font-size: 5px;
        font-weight: 700;
        left:5%;
        top:5%;
    }
    .stainfo{
        position: relative;
        font-size: 5px;
        font-weight: 500;
        left:0px;
        top :5%;
    }
    .Stathead{
        position: absolute;
        color: #fff;
        font-size: xx-small;
        top: 7%;
        left: 7%;
    }
    .rankhead{
        position: absolute;
        color: #fff;
        font-size: xx-small;
        top: 7%;
        left: 7%;
    }
    .sta1{
        position: absolute;
        left: 7%;
        height: 13%;
        width: 90%;
        top:25%;
        background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
    }
    .sta4{
        position: absolute;
        left: 7%;
        height: 13%;
        width:90%;
        top:76%;
        background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
    }
    .sta3{
        position: absolute;
        left: 7%;
        height: 13%;
        width: 90%;
        top:59%;
        background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
    }
    .sta2{
        position: absolute;
        left: 7%;
        height: 13%;
        width: 90%;
        top:42%;
        background-image: linear-gradient(to left, #192125, rgb(255, 255,255,1));;
    }
    .statsinfo{
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .levelbar{
        position: relative;
        top: 65%;
        width: 50%;
        left: 25%;
        border-radius:10px;
        height: 3px;
    
    }
    .rank{
        position: relative;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .Matchhead{
        position: absolute;
        color: #fff;
        font-size: xx-small;
        top: 7%;
        left: 4%;
    }
    .Historitem{
        height: 20%;
    }
    .user1img{
        position: relative;
        height: 20px;
        width: 20px;
    }
    .user2img{
        position: absolute;
        height: 20px;
        width: 20px;
        left: calc(100% - 20px);
    }
    .usernamehistory{

        position: absolute;
        left: 25px;
        top: 55%;
        font-size: 5px;
        font-weight: 200;
    }
    .usernamehistory2{

        position: relative;
        left: 50%;
        top: 55%;
        font-size: 5px;
        font-weight: 200;
    }
    .result{
        position: absolute;
        flex-direction: column;
        width: 20%;
        left:40%;
        text-align: center;
        align-items: center;
        font-size: 5px;
        font-weight: 200;
        height: 100%;
    }
    .score{
        position: absolute;
        font-size: xx-small;
        align-items: center;
        left: 20%;
        top: 45%;
        text-align: center;
        width: 60%;
        font-size: 4px;
    }
    .addbutton{
        position: relative;
        left : 40%;
        top: 5%;
        background: none;
        border: none;
        cursor: pointer;
    
    
      }
  }