@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&display=swap');

.Notfoundfull{
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10%;
    background: none;
     font-family: 'Orbitron', sans-serif;
    font-size: larger;
    color: #f7cc0b;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Four{
    position: relative;
    top: 30%;
    font-size: 160px;
}