@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,600;1,700&display=swap');

.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid white ;
}  

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #363c40;
    color: white;
    max-width: 300px;
}

.messageImg1 {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-left: 10px;
    border: 1px solid white ;
}  

.messageText1 {
    padding: 10px;
    border-radius: 20px;
    background-color: #363c40;
    color: white;
    max-width: 300px;
}

.messageBottom {
    font-size: 12px;
    margin-top: 10px;
    color: white;
}

.message.own {
    align-items: flex-end;
    margin-right: 10%;
}
.message.own1 {
    align-items: flex-start;
    margin-left: 10%;
}


.message.own .messageText{
    background-color: #6e7274;
    color: white;
}